.todo {
  background: lightgrey;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .editable {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
